<% if user_signed_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="post_form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
</div>
<% else %>
<div class="center jumbotron">
<h1>ようこそInsta Clone Appへ！</h1>

<p>このアプリはアプリ開発練習用です</p>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
<%= link_to "facebookでログイン",user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary"  %>
</div>
<% end %>
